<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Item</title>

    <!--adding a favicon-->
    
    <link rel="shortcut icon" href="../../public/images/trumpetCat.jfif" type="image/jpg">

</head>
<body>

    <nav id="navBar">
        <!-- link in header will always take you to homepage -->
        <a href="../index.ejs">
        <h1>Aristocats</h1>
        </a>
        <span id="searchBar">
            Search
            <input type="search" name="searchInput">
        </span>
        <!-- Dropdown list for categories, will take user to selected page from anywhere -->
        <form class="categoryDropDown">
            <label>Categories</label>
            <select>
                <option value="Clothing">
                    <a href="clothingPage.ejs">
                    Clothing
                </a>
                </option>

                <option value="Items">
                    <a href="itemsPage.ejs">
                    Items
                </a>
                </option>

                <option value="Art">
                    <a href="artPage.ejs">
                    Art
                </a>
                </option>

                <option value="Sculptures">
                    <a href="sculpturePage.ejs">
                    Sculptures
                </a>
                </option>

            </select>
            
        </form>
        <span id="dropMenu">Drop down menu</span>


    </nav>
    <hr>

    <main>
        <section id="listItem">
            <!-- section to upload photo of item -->
            <div id="upload">
            Upload pictures of your product
                <input type="file" name="fileInput" name="filename">
                <!-- <input type="submit"> -->
            </div>

            <!-- check boxes for item category selection -->
            <div id="itemType">
            Select the category of your item
                <br>
                <input type="checkbox" id="clothingBox" value="Clothing" name="clothingBox">
                <label for="clothingBox">Clothing </label> <br>
                <input type="checkbox" id="itemBox" value="Item" name="itemBox">
                <label for="itemBox">Item </label> <br>
                <input type="checkbox" id="artBox" value="Art" name="artBox">
                <label for="artBox">Art </label> <br>
                <input type="checkbox" id="sculptBox" value="Sculpture" name="sculptBox">
                <label for="sculptBox">Sculpture </label> <br>
            </div>
            <input name="SelectedValues" type="hidden" value="">
            <!-- section to add the date of creation -->
            <div id="creationDate">
            Enter the date of creation for your product
                <input type="date" name="dateInput">
            </div>
            <!-- get price input -->
            <div id="itemPrice">
            Set your asking price: $
                <input type="number" name="itemPrice">
            </div>
            <!-- name of item -->
            <div id="itemName">
                Name of Item: 
                <input type="text" name="itemName">
            </div>
            <!-- add description of product -->
            <div id="itemDesc"> 
            Brief description of your product:
                <input type="text" name="itemDesc" width=15px>
            </div>
            <!-- submit button -->
            <div>
                <input type="submit" name="submitItem" id="submitItem">
            </div>

        </section>
    </main>
    
</body>
</html>